.work-experience {
  align-items: center;
  display: flex;
  gap: 16px;
  padding: 16px 0px;
  position: relative;
  width: 466px;
}

.work-experience .tag-2 {
  flex: 0 0 auto;
  position: relative;
}

.work-experience .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.work-experience .text-wrapper-18 {
  color: #0a0a0a;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.work-experience .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.work-experience .text-wrapper-19 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.work-experience .text-wrapper-20 {
  color: #b7b7b7;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
