.data-types {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  padding: 4px;
  position: relative;
}

.data-types .ellipse {
  border-radius: 6px;
  height: 12px;
  position: relative;
  width: 12px;
}

.data-types .number {
  background-color: #e48a8f;
}

.data-types .short-answer {
  background-color: #fff2b0;
}

.data-types .video {
  background-color: #9eb7ff;
}

.data-types .date {
  background-color: #fcab7e;
}

.data-types .para {
  background-color: #f0dbff;
}

.data-types .file-upload {
  background-color: #4dcdc3;
}

.data-types .dropdown {
  background-color: #81e0ff;
}

.data-types .yes-no {
  background-color: #ffe5e5;
}

.data-types .multi-choice {
  background-color: #d2ffc4;
}
